.dash-body {
  background-color: #fafbff;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  line-height: 32px;
}
.dash-body .nav-container {
  width: 90px;
}
.dash-body .nav-container nav ul li:nth-child(n+2) div {
  width: 40%;
}
.dash-body .nav-container nav ul li:nth-child(n+2) .elements {
  width: 60%;
}
.dash-body .nav-big-container {
  width: 300px;
  transform: translateX(-380px);
}
.dash-body .nav-big-container nav ul li:nth-child(n+2) div {
  width: 20%;
}
.dash-body .nav-container,
.dash-body .nav-big-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 780px;
  background-color: #fff;
  box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.06);
  border-radius: 0px 30px 30px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: none;
  gap: none;
  z-index: 1000;
}
.dash-body .nav-container nav,
.dash-body .nav-big-container nav {
  width: 100%;
  height: 95%;
  margin-top: 10px;
  transition: all 0.7s ease-in-out;
}
.dash-body .nav-container nav ul,
.dash-body .nav-big-container nav ul {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.dash-body .nav-container nav ul li:nth-child(1),
.dash-body .nav-big-container nav ul li:nth-child(1) {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: none;
  margin-bottom: 30px;
}
.dash-body .nav-container nav ul li:nth-child(1) h1,
.dash-body .nav-big-container nav ul li:nth-child(1) h1 {
  font-weight: 900;
  font-size: 45px;
}
.dash-body .nav-container nav ul li:nth-child(n+2),
.dash-body .nav-big-container nav ul li:nth-child(n+2) {
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  gap: none;
  transition: all 0.6s ease-in-out;
}
.dash-body .nav-container nav ul li:nth-child(n+2) div,
.dash-body .nav-big-container nav ul li:nth-child(n+2) div {
  height: 100%;
}
.dash-body .nav-container nav ul li:nth-child(n+2) .elements,
.dash-body .nav-big-container nav ul li:nth-child(n+2) .elements {
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: none;
  gap: 12.5px;
}
.dash-body .nav-container nav ul li:nth-child(n+2) .elements h3,
.dash-body .nav-big-container nav ul li:nth-child(n+2) .elements h3 {
  font-weight: 400;
  font-size: 16px;
}
.dash-body .nav-container nav ul li:nth-child(n+2) span,
.dash-body .nav-big-container nav ul li:nth-child(n+2) span {
  display: inline-block;
  width: 5px;
  height: 35px;
  background-color: #74bf90;
  border-radius: 30px;
  opacity: 0;
}
.dash-body .dash-content {
  width: 1446px;
  min-height: 100vh;
  margin-left: 90px;
  overflow: auto;
  background-color: #fafbff;
  z-index: 5;
}
.dash-body .dash-content .top-container {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  gap: none;
  padding: 0px 80px 0px 40px;
  margin-top: 20px;
}
.dash-body .dash-content .top-container .delete-container {
  position: absolute;
  top: -145px;
  left: calc(50% - 250px);
  width: 350px;
  height: 100px;
  padding: 10px;
  background: #ffffff;
  color: #163046;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 12.5px;
  transition: all 0.5s ease-in-out;
}
.dash-body .dash-content .top-container .delete-container button {
  width: 140px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  background: #133b5c;
  color: #ffffff;
}
.dash-body .dash-content .top-container .delete-container button:hover {
  border: 2px solid #133b5c;
  background: #ffffff;
  color: #163046;
}
.dash-body .dash-content .top-container .main h2 {
  font-weight: 600;
  font-size: 26px;
  margin: 0;
}
.dash-body .dash-content .top-container .main label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #7d7d7d;
}
.dash-body .dash-content .top-container span {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #133b5c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: none;
}
.dash-body .dash-content .top-container .acc-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: 35px;
}
.dash-body .dash-content .top-container .acc-display div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: 10px;
}
.dash-body .dash-content .top-container .acc-display div h3 {
  font-weight: 400;
  font-size: 16px;
}
.dash-body .dash-content .top-container .acc-display .img {
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}
.dash-body .dash-content .top-label-container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  gap: none;
  padding: 0px 40px 0px 40px;
}
.dash-body .dash-content .top-label-container .dayLabels {
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  gap: none;
}
.dash-body .dash-content .top-label-container .dayLabels span {
  padding: 5px 10px;
}
.dash-body .dash-content .top-label-container .dayLabels span label {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #7d7d7d;
  cursor: pointer;
}
.dash-body .dash-content .top-label-container .period-button-label {
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: none;
  gap: none;
}
.dash-body .dash-content .top-label-container .period-button-label input[type=date] {
  width: 120px;
  height: 25px;
  padding: 5px;
  background: #ffffff;
  border: 0.5px solid rgba(72, 72, 72, 0.2);
  border-radius: 5px;
  text-align: center;
  color: #7d7d7d;
}
.dash-body .dash-content .top-label-container .period-button-label label {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #7d7d7d;
}
.dash-body .dash-content .top-label-container .period-button-label button:nth-last-child(2) {
  width: 100px;
  background: #133b5c;
  border-radius: 7px;
  padding: 10px 15px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: none;
  gap: none;
  cursor: pointer;
  margin-left: 35px;
}
.dash-body .dash-content .top-label-container .period-button-label button:nth-last-child(1) {
  width: 90px;
  background: inherit;
  border: 2px solid #133b5c;
  border-radius: 7px;
  padding: 10px 15px;
  color: #133b5c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: none;
  gap: none;
  cursor: pointer;
}
.dash-body .dash-content::-webkit-scrollbar {
  display: none;
}
.dash-body .dash-content .display-containers {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: none;
  gap: 125px;
  padding: 0px 40px 0px 40px;
}
.dash-body .dash-content .display-containers .container {
  width: 600px;
  height: 375px;
  display: flex;
  justify-content: none;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.dash-body .dash-content .display-containers .container .first-div {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #14181c;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  gap: 10px;
}
.dash-body .dash-content .display-containers .container .first-div label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: rgba(20, 24, 28, 0.7);
}
.dash-body .dash-content .display-containers .container .second-div {
  width: 100%;
  height: 90%;
  background-color: #fcfeff;
  box-shadow: 6px 6px 30px rgba(125, 153, 180, 0.2);
  border-radius: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.dash-body .dash-content .display-containers .container .second-div h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  margin: 10px 0px 0px 0px;
  color: #14181c;
}
.dash-body .dash-content .display-containers .container .second-div h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #133b5c;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: rgba(112, 112, 112, 0.7);
}
.dash-body .dash-content .display-containers .container .second-div .inside-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: none;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div {
  width: 40%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: none;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #14181c;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #229654;
  display: flex;
  align-items: center;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div h3 svg {
  width: 12px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div h3 svg path {
  fill: #229654;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .success-div span {
  background: rgba(34, 150, 84, 0.06);
  border-radius: 4px;
  padding: 5px 7.5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #229654;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .mid-div {
  width: 5%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #133b5c;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .mid-div span {
  width: 1%;
  height: 87%;
  background-color: #133b5c;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div {
  width: 40%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: none;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #14181c;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #b60808;
  display: flex;
  align-items: center;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div h3 svg {
  width: 12px;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div h3 svg path {
  fill: #b60808;
}
.dash-body .dash-content .display-containers .container .second-div .inside-div .fail-div span {
  background: rgba(182, 8, 8, 0.06);
  border-radius: 4px;
  padding: 5px 7.5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #b60808;
}
.dash-body .dash-content .display-containers .container .second-div .last-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-self: flex-end;
  margin-right: 40px;
}
.dash-body .dash-content .display-containers .container .second-div .last-div h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #14181c;
  margin: 0px;
}
.dash-body .dash-content .display-containers .container .second-div .last-div label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #b60808;
}
.dash-body .dash-content .mcash-container {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  gap: none;
  margin-top: 15px;
}
.dash-body .dash-content .mcash-container .status-container {
  height: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 0px 0px 0px 40px;
}
.dash-body .dash-content .mcash-container .status-container .transaction {
  width: -moz-max-content;
  width: max-content;
  padding: 10px 25px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.dash-body .dash-content .mcash-container .status-container .transaction div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: none;
}
.dash-body .dash-content .mcash-container .status-container .transaction div h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}
.dash-body .dash-content .mcash-container .status-container .transaction div h3 svg {
  width: 16px;
}
.dash-body .dash-content .mcash-container .status-container .transaction div label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
}
.dash-body .dash-content .mcash-container .mcash-labels {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: none;
  padding: 0px 65px 0px 40px;
}
.dash-body .dash-content .mcash-container .mcash-labels .noname {
  width: -moz-max-content;
  width: max-content;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.dash-body .dash-content .mcash-container .mcash-labels .noname .search {
  position: relative;
}
.dash-body .dash-content .mcash-container .mcash-labels .noname .search input[type=text] {
  width: 350px;
  height: 40px;
  background: #ffffff;
  border: 0.5px solid rgba(72, 72, 72, 0.2);
  border-radius: 7px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(23, 23, 23, 0.5);
}
.dash-body .dash-content .mcash-container .mcash-labels .noname .search svg {
  position: absolute;
  top: 12.5px;
  left: 10px;
}
.dash-body .dash-content .mcash-container .mcash-labels .noname .search svg path {
  stroke: rgba(23, 23, 23, 0.5);
}
.dash-body .dash-content .mcash-container .mcash-labels .button-containers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.dash-body .dash-content .mcash-container .mcash-labels .button-containers a {
  text-decoration: none;
  color: #133b5c;
}
.dash-body .dash-content .mcash-container .mcash-labels .button-containers .button {
  width: 140px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: 5px;
}
.dash-body .dash-content .mcash-container .mcash-labels .button-containers .button:nth-child(odd) {
  border: 2px solid #133b5c;
  background: #ffffff;
}
.dash-body .dash-content .mcash-container .mcash-labels .button-containers .button:nth-child(even) {
  background: #133b5c;
  color: #ffffff;
}
.dash-body .dash-content .table-containers {
  width: 1344px;
  height: 460px;
  margin: 0px 40px 0px 40px;
  background: #ffffff;
  border: 0.5px solid rgba(72, 72, 72, 0.2);
  border-radius: 7px;
  position: relative;
}
.dash-body .dash-content .table-containers table {
  width: 100%;
  border-collapse: collapse;
}
.dash-body .dash-content .table-containers table thead th {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  color: #000000;
}
.dash-body .dash-content .table-containers table .table-error {
  position: absolute;
  top: 35%;
  left: 40%;
  margin: 0;
}
.dash-body .dash-content .table-containers table .table-error td {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: none;
}
.dash-body .dash-content .table-containers table tbody {
  height: 100%;
}
.dash-body .dash-content .table-containers table tbody td {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  height: 40px;
}
.dash-body .dash-content .table-containers table tbody td input[type=checkbox] {
  width: 17.5px;
  height: 17.5px;
}
.dash-body .dash-content .table-containers table tbody td select {
  width: 85px;
  height: 25px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}
.dash-body .dash-content .table-containers table tbody tr:nth-child(even) {
  background-color: rgba(26, 72, 109, 0.05);
}
.dash-body .dash-content .page {
  margin: 10px 40px 20px 40px;
}
.dash-body .dash-content .page .pagination-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.dash-body .dash-content .page .pagination-container label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(19, 59, 92, 0.5);
  cursor: pointer;
}
.dash-body .dash-content .page .pagination-container .book {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: none;
}
.dash-body .dash-content .page .pagination-container .book span {
  background: rgba(26, 72, 109, 0.07);
  border-radius: 3px;
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  gap: none;
  color: #171717;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.svg-styled path {
  stroke: #74bf90;
}

.success,
.error {
  color: #fff;
  padding: 5px;
  border: 1px solid black;
}

.success {
  background-color: green;
}

.error {
  background-color: rgb(216, 168, 168);
}

#check {
  width: 30px;
  padding: 0;
  padding-top: 5px;
}/*# sourceMappingURL=product.css.map */